<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.abc.ssm.modules.paper.mapper.DocPaperMapper">
    <resultMap id="BaseResultMap" type="team.abc.ssm.modules.paper.entity.DocPaper">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="author_list" jdbcType="VARCHAR" property="authorList"/>
        <result column="first_author_name" jdbcType="VARCHAR" property="firstAuthorName"/>
        <result column="second_author_name" jdbcType="VARCHAR" property="secondAuthorName"/>
        <result column="first_author_id" jdbcType="VARCHAR" property="firstAuthorId"/>
        <result column="second_author_id" jdbcType="VARCHAR" property="secondAuthorId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="status_1" jdbcType="VARCHAR" property="status1"/>
        <result column="status_2" jdbcType="VARCHAR" property="status2"/>
        <result column="paper_name" jdbcType="VARCHAR" property="paperName"/>
        <result column="ISSN" jdbcType="VARCHAR" property="issn"/>
        <result column="store_num" jdbcType="VARCHAR" property="storeNum"/>
        <result column="doc_type" jdbcType="VARCHAR" property="docType"/>
        <result column="publish_date" jdbcType="TIMESTAMP" property="publishDate"/>
        <result column="danwei_cn" jdbcType="VARCHAR" property="danweiCn"/>
        <result column="danwei" jdbcType="VARCHAR" property="danwei"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
        <result column="modify_user_id" jdbcType="VARCHAR" property="modifyUserId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="del_flag" jdbcType="BOOLEAN" property="delFlag"/>
        <result column="_PD" jdbcType="TIMESTAMP" property="pd"/>
        <result column="_PY" jdbcType="INTEGER" property="py"/>
        <result column="first_author_type" jdbcType="VARCHAR" property="firstAuthorType"/>
        <result column="second_author_type" jdbcType="VARCHAR" property="secondAuthorType"/>
        <result column="paper_subject" jdbcType="VARCHAR" property="subject"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, author_list, first_author_name, second_author_name, first_author_id, second_author_id,
        `status`, status_1, status_2, paper_name, ISSN, store_num, doc_type, publish_date,
        danwei_cn, danwei, remarks, create_user_id, modify_user_id, create_date, modify_date,
        del_flag, _PD, _PY
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from doc_paper
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from doc_paper
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="team.abc.ssm.modules.paper.entity.DocPaper">
        <!--@mbg.generated-->
        insert into doc_paper (id, author_list, first_author_name,
        second_author_name, first_author_id, second_author_id,
        `status`, status_1, status_2,
        paper_name, ISSN, store_num,
        doc_type, publish_date, danwei_cn,
        danwei, remarks, create_user_id,
        modify_user_id, create_date, modify_date,
        del_flag, _PD, _PY)
        values (#{id,jdbcType=VARCHAR}, #{authorList,jdbcType=VARCHAR}, #{firstAuthorName,jdbcType=VARCHAR},
        #{secondAuthorName,jdbcType=VARCHAR}, #{firstAuthorId,jdbcType=VARCHAR}, #{secondAuthorId,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR}, #{status1,jdbcType=VARCHAR}, #{status2,jdbcType=VARCHAR},
        #{paperName,jdbcType=VARCHAR}, #{issn,jdbcType=VARCHAR}, #{storeNum,jdbcType=VARCHAR},
        #{docType,jdbcType=VARCHAR}, #{publishDate,jdbcType=TIMESTAMP}, #{danweiCn,jdbcType=VARCHAR},
        #{danwei,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR},
        #{modifyUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP},
        #{delFlag,jdbcType=BOOLEAN}, #{pd,jdbcType=TIMESTAMP}, #{py,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="team.abc.ssm.modules.paper.entity.DocPaper">
        <!--@mbg.generated-->
        insert into doc_paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="authorList != null">
                author_list,
            </if>
            <if test="firstAuthorName != null">
                first_author_name,
            </if>
            <if test="secondAuthorName != null">
                second_author_name,
            </if>
            <if test="firstAuthorId != null">
                first_author_id,
            </if>
            <if test="secondAuthorId != null">
                second_author_id,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="status1 != null">
                status_1,
            </if>
            <if test="status2 != null">
                status_2,
            </if>
            <if test="paperName != null">
                paper_name,
            </if>
            <if test="issn != null">
                ISSN,
            </if>
            <if test="storeNum != null">
                store_num,
            </if>
            <if test="docType != null">
                doc_type,
            </if>
            <if test="publishDate != null">
                publish_date,
            </if>
            <if test="danweiCn != null">
                danwei_cn,
            </if>
            <if test="danwei != null">
                danwei,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="modifyUserId != null">
                modify_user_id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="pd != null">
                _PD,
            </if>
            <if test="py != null">
                _PY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="authorList != null">
                #{authorList,jdbcType=VARCHAR},
            </if>
            <if test="firstAuthorName != null">
                #{firstAuthorName,jdbcType=VARCHAR},
            </if>
            <if test="secondAuthorName != null">
                #{secondAuthorName,jdbcType=VARCHAR},
            </if>
            <if test="firstAuthorId != null">
                #{firstAuthorId,jdbcType=VARCHAR},
            </if>
            <if test="secondAuthorId != null">
                #{secondAuthorId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="status1 != null">
                #{status1,jdbcType=VARCHAR},
            </if>
            <if test="status2 != null">
                #{status2,jdbcType=VARCHAR},
            </if>
            <if test="paperName != null">
                #{paperName,jdbcType=VARCHAR},
            </if>
            <if test="issn != null">
                #{issn,jdbcType=VARCHAR},
            </if>
            <if test="storeNum != null">
                #{storeNum,jdbcType=VARCHAR},
            </if>
            <if test="docType != null">
                #{docType,jdbcType=VARCHAR},
            </if>
            <if test="publishDate != null">
                #{publishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="danweiCn != null">
                #{danweiCn,jdbcType=VARCHAR},
            </if>
            <if test="danwei != null">
                #{danwei,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserId != null">
                #{modifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=BOOLEAN},
            </if>
            <if test="pd != null">
                #{pd,jdbcType=TIMESTAMP},
            </if>
            <if test="py != null">
                #{py,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="team.abc.ssm.modules.paper.entity.DocPaper">
        <!--@mbg.generated-->
        update doc_paper
        <set>
            <if test="authorList != null">
                author_list = #{authorList,jdbcType=VARCHAR},
            </if>
            <if test="firstAuthorName != null">
                first_author_name = #{firstAuthorName,jdbcType=VARCHAR},
            </if>
            <if test="secondAuthorName != null">
                second_author_name = #{secondAuthorName,jdbcType=VARCHAR},
            </if>
            <if test="firstAuthorId != null">
                first_author_id = #{firstAuthorId,jdbcType=VARCHAR},
            </if>
            <if test="secondAuthorId != null">
                second_author_id = #{secondAuthorId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="status1 != null">
                status_1 = #{status1,jdbcType=VARCHAR},
            </if>
            <if test="status2 != null">
                status_2 = #{status2,jdbcType=VARCHAR},
            </if>
            <if test="paperName != null">
                paper_name = #{paperName,jdbcType=VARCHAR},
            </if>
            <if test="issn != null">
                ISSN = #{issn,jdbcType=VARCHAR},
            </if>
            <if test="storeNum != null">
                store_num = #{storeNum,jdbcType=VARCHAR},
            </if>
            <if test="docType != null">
                doc_type = #{docType,jdbcType=VARCHAR},
            </if>
            <if test="publishDate != null">
                publish_date = #{publishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="danweiCn != null">
                danwei_cn = #{danweiCn,jdbcType=VARCHAR},
            </if>
            <if test="danwei != null">
                danwei = #{danwei,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BOOLEAN},
            </if>
            <if test="pd != null">
                _PD = #{pd,jdbcType=TIMESTAMP},
            </if>
            <if test="py != null">
                _PY = #{py,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="team.abc.ssm.modules.paper.entity.DocPaper">
        <!--@mbg.generated-->
        update doc_paper
        set author_list = #{authorList,jdbcType=VARCHAR},
        first_author_name = #{firstAuthorName,jdbcType=VARCHAR},
        second_author_name = #{secondAuthorName,jdbcType=VARCHAR},
        first_author_id = #{firstAuthorId,jdbcType=VARCHAR},
        second_author_id = #{secondAuthorId,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=VARCHAR},
        status_1 = #{status1,jdbcType=VARCHAR},
        status_2 = #{status2,jdbcType=VARCHAR},
        paper_name = #{paperName,jdbcType=VARCHAR},
        ISSN = #{issn,jdbcType=VARCHAR},
        store_num = #{storeNum,jdbcType=VARCHAR},
        doc_type = #{docType,jdbcType=VARCHAR},
        publish_date = #{publishDate,jdbcType=TIMESTAMP},
        danwei_cn = #{danweiCn,jdbcType=VARCHAR},
        danwei = #{danwei,jdbcType=VARCHAR},
        remarks = #{remarks,jdbcType=VARCHAR},
        create_user_id = #{createUserId,jdbcType=VARCHAR},
        modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
        del_flag = #{delFlag,jdbcType=BOOLEAN},
        _PD = #{pd,jdbcType=TIMESTAMP},
        _PY = #{py,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectTheAuthorPapers"
            parameterType="team.abc.ssm.modules.paper.entity.DocPaper"
            resultMap="BaseResultMap">
        select
        a.*,
        b.user_type as first_author_type,
        c.user_type as second_author_type,
        b.real_name as first_author_name,
        c.real_name as second_author_name
        from (
        select * from (
        select * from docmanager.doc_paper
        where first_author_id = #{theAuthorWorkId,jdbcType=VARCHAR}
        or second_author_id = #{theAuthorWorkId,jdbcType=VARCHAR}
        ) as tmp
        <where>
            tmp.status = '3'
            <if test="page.searchKey != null and page.searchKey != ''">
                and tmp.paper_name like concat('%',#{page.searchKey} ,'%')
            </if>
        </where>
        limit #{page.pageStart} ,#{page.pageSize}
        ) as a
        left join sys_user b on b.work_id = a.first_author_id
        left join sys_user c on c.work_id = a.second_author_id
    </select>

    <select id="selectTheAuthorPaperNum" resultType="int">
    select count(*)
    from (
        select *
        from docmanager.doc_paper
        where first_author_id = #{authorWorkId,jdbcType=VARCHAR}
        or second_author_id = #{authorWorkId,jdbcType=VARCHAR}
    ) as tmp
    where tmp.status = '3'
    </select>

    <select id="getStasticNumOfPaper"
            parameterType="StatisticCondition"
            resultType="int">
        select count(*)
        from(
            select a.*,
            b.major as paper_subject,
            b.user_type as first_author_type,
            c.user_type as second_author_type
            from (
                select dp.*
                from doc_paper dp
                right join (
                    select *
                    from doc_journal dj
                    where 1=1
                    <if test="journalDivision != null and journalDivision != ''">
                        and dj.journal_division = #{journalDivision,jdbcType=VARCHAR}
                    </if>
                    <if test="impactFactorMax != null">
                        and dj.impact_factor &gt;= #{impactFactorMin}
                        and dj.impact_factor &lt;= #{impactFactorMax}
                    </if>
                ) j on j.issn = dp.ISSN
                where 1=1
                <if test="paperType != null and paperType != ''">
                    and dp.doc_type=#{paperType,jdbcType=VARCHAR}
                </if>
                <if test="institute != null and institute != ''">
                    and dp.danwei_cn=#{institute,jdbcType=VARCHAR}
                </if>
                <if test="endDate != null">
                    and dp.publish_date &gt;= #{startDate,jdbcType=TIMESTAMP}
                    and dp.publish_date &lt;= #{endDate,jdbcType=TIMESTAMP}
                </if>
                and `status`=#{status,jdbcType=VARCHAR}
            ) as a
            left join sys_user b on b.work_id = a.first_author_id
            left join sys_user c on c.work_id = a.second_author_id
            <where>
                <if test="subject != null and subject != ''">
                    b.major = #{subject,jdbcType=VARCHAR}
                </if>
            </where>
        ) as res
        <where>
            <if test="authorType != null and authorType != ''">
                res.first_author_type = #{authorType,jdbcType=VARCHAR}
                or res.second_author_type = #{authorType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>