<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.abc.ssm.modules.organization.dao.CommonOrganizeMapper">
    <resultMap id="BaseResultMap" type="team.abc.ssm.modules.organization.entity.CommonOrganize">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="org_code" property="orgCode" jdbcType="VARCHAR"/>
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="modify_user_id" property="modifyUserId" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="BIT"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from common_organize
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="team.abc.ssm.modules.organization.entity.CommonOrganize">
        insert into common_organize (id, org_code, org_name,
                                     description, parent_id, remarks,
                                     create_user_id, modify_user_id, create_date,
                                     modify_date, del_flag)
        values (#{id,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
                #{createUserId,jdbcType=VARCHAR}, #{modifyUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
                #{modifyDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="team.abc.ssm.modules.organization.entity.CommonOrganize">
        update common_organize
        set org_code       = #{orgCode,jdbcType=VARCHAR},
            org_name       = #{orgName,jdbcType=VARCHAR},
            description    = #{description,jdbcType=VARCHAR},
            parent_id      = #{parentId,jdbcType=VARCHAR},
            remarks        = #{remarks,jdbcType=VARCHAR},
            create_user_id = #{createUserId,jdbcType=VARCHAR},
            modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
            create_date    = #{createDate,jdbcType=TIMESTAMP},
            modify_date    = #{modifyDate,jdbcType=TIMESTAMP},
            del_flag       = #{delFlag,jdbcType=BIT}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id,
               org_code,
               org_name,
               description,
               parent_id,
               remarks,
               create_user_id,
               modify_user_id,
               create_date,
               modify_date,
               del_flag
        from common_organize
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id,
               org_code,
               org_name,
               description,
               parent_id,
               remarks,
               create_user_id,
               modify_user_id,
               create_date,
               modify_date,
               del_flag
        from common_organize
    </select>

    <select id="getOrgList" resultType="java.lang.String">
        select distinct name_cn
        from sys_dict
        where type_id = (
            select id
            from sys_dict_type `type`
            where type.name_cn = '署名单位'
        )
    </select>
</mapper>