/* table左边的checkbox */
.el-checkbox {
    margin: 0px;
    margin-left: 2px;
}

/* 设置table行高 */
.el-table th > .cell {
    height: 40px;
    line-height: 40px;
}

/* 设置table行高 */
.el-table__row .cell {
    height: 45px;
    line-height: 45px;
}

.el-table--enable-row-transition .el-table__body td, .el-table td, .el-table th {
    padding: 0px;
}

/* 设置table悬浮颜色 */
.el-table--enable-row-hover .el-table__body tr:hover > td {
    background: #f6faff;
}

.el-table--enable-row-transition .el-table__body td, .el-table td, .el-table th{
    border: 0px !important;
}

.el-table th.is-leaf, tr .gutter{
    background: aliceblue;
}

.el-button--mini{
    font-size: 11px;
    padding: 6px 8px;
}

/* 取消button间的自动间隔 */
.el-button+.el-button{
    margin-left: 0px;
}

/* 弹窗 */
.el-dialog{
    width: 654px;
    margin-top: 30px !important;
}

/* 弹窗固定上下移动 */
.el-dialog__wrapper{
    /*overflow-y: hidden;*/
}

.el-form{
    padding: 0px 90px !important;
}