.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.login-page {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 450px;
    margin: 0 auto;
    padding: 60px 55px 25px 55px;
    background: #fff;
    position: relative;
    bottom: 20px;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
label.el-checkbox.rememberme {
    margin: 0 0 15px;
}
.title{
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}