<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.abc.ssm.modules.doc.dao.PatentMapper">
    <resultMap id="PatentBean" type="team.abc.ssm.modules.doc.entity.Patent">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="patent_name" property="patentName" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="modify_user_id" property="modifyUserId" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getMyPatentAmount" resultType="java.lang.Integer">
        select count(*)
        from doc_map_user_patent
        where user_id = #{0}
          and del_flag != -1
    </select>

    <select id="getPatentList" resultMap="PatentBean">
        select *
        from doc_patent
        where id in (
            select patent_id
            from doc_map_user_patent
            where user_id = #{id}
              and del_flag != -1
            limit #{pageIndex},#{pageSize}
        )
    </select>

    <select id="getPatentStatisticsRes" resultType="team.abc.ssm.modules.doc.entity.Statistics">

    </select>

    <select id="getPatentTypeMap" resultType="java.util.HashMap">
        select id, name_en
        from docmanager.sys_dict
        where type_id = (
            select id from docmanager.sys_dict_type where sys_dict_type.name_cn = '专利种类'
        )
          and del_flag != -1
    </select>
</mapper>