/* table左边的checkbox */
.el-checkbox {
    margin: 0px;
    margin-left: 2px;
}

/* 设置table行高 */
.el-table th > .cell {
    height: 40px;
    line-height: 40px;
}

/* 设置table行高 */
.el-table__row .cell {
    height: 45px;
    line-height: 45px;
}

.el-table--enable-row-transition .el-table__body td, .el-table td, .el-table th {
    padding: 0px;
}

.el-table--enable-row-transition .el-table__body td, .el-table td, .el-table th{
    border: 0px !important;
}

.el-table__fixed-right-patch{
    background: #DCDCDC !important;
}

.el-table th.is-leaf{
    background: aliceblue !important;
}

.el-button--mini{
    font-size: 11px;
    padding: 6px 8px;
}